.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e4e4e4;
    color: #0F193B;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.item {
    margin-bottom: 10px;
}