.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    background-color: #0F193B;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 5px 0;
}

.navbar li {
    margin: 0 15px;
    color: #ffffff;
}

.navbar li:first-child {
    margin-right: 50px;
}

.navbar li:not(:first-child) {
    margin-top: 15px;
}

.navbar li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar li:not(:first-child) a {
    width: 60px;
    height: 60px;
    line-height: 50px;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.navbar li:not(:first-child) a:hover,
.navbar li:not(:first-child) a:focus {
    background-color: #f7c2ca;
    color: #19254b;
}

.active {
    border-radius: 10px;
    background-color: #f7c2ca;
    color: #19254b !important;
}

.active a {
    color: #19254b;
}