.orders {
    width: 100%;
    top: 150px;
    position: absolute;
    overflow-x: hidden;
}

.buttons {
    width: 100%;
    justify-content: center;
    padding: 11px;
}

.selected {
    width: 200px;
    height: 50px;
    text-align: center;
    color: #19254b;
    background-color: #FB8DA0;
    margin-right: 20px;
    font-weight: 800;
}

.unselected {
    width: 200px;
    height: 50px;
    text-align: center;
    color: #19254b;
    background-color: #e4e4e4;
    font-weight: 600;
    margin-right: 20px;
}

.unselected:hover {
    background-color: #fab0bb;
}

.ordersGrid {
    justify-content: center;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 50px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {

    .ordersGrid {
        width: 500px;
        padding: 0 20px;
    }

}

@media (max-width: 768px) {
    .selected {
        width: 150px;
    }

    .unselected {
        width: 150px;
    }

    .ordersGrid {
        width: 400px;
        padding: 0 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 585px) {
    .selected {
        width: 130px;
    }

    .unselected {
        width: 130px;
    }

    .ordersGrid {
        width: 200px;
        padding: 0 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .orders {
        top: 210px;
    }
}